<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>
    <div>

    <form action="/api/createuser" method="POST">
        <input type="text" name="first_name" placeholder="Enter first_name">
        <input type="text" name="last_name" placeholder="Enter last_name">
        <input type="text" name="Job_title" placeholder="Enter Job_title">
        <input type="text" name="email" placeholder="Enter email">
        <input type="text" name="gender" placeholder="Enter gender">
        <button type="submit">Submit</button>
    </form>
    </div>

</body>
</html>